@charset "UTF-8";




div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:absolute;width:90px;top:50%;margin-top:-50px;right:10px;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

.content {position:relative;min-height:1000px;}

ul, li{
	list-style:none;
	display:inline-block;
	
	
}
a{
  text-decoration:none;
  color:inherit;
}


.menu_wrap{
	     position: relative;
    display: inline-block;
}

.menu_wrap .dep1{
	font-size:0;
}

.menu_wrap .dep1>li {
	display:inline-block;
	width:100px;
	vertical-align:top;
	background: #ddd;
	text-align:center;
	font-size:16px;
	position:relative;
	 
}

.menu_wrap .dep1 > li:hover >a{
	background:#000;
	color:#fff;
}

.menu_wrap .dep1 > li > a{
	display:block;
	padding:10px 0;	
}

.menu_wrap .dep2{
	position:absolute;
	display:none;
	background-color: #f9f9f9;
	color:#000;
	z-index:1;
	cursor:pointer;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 100px;


}

.menu_wrap .dep1 > li:hover > .dep2{
	display:block;	
}

.menu_wrap .dep2 a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: inline-block;
    
}

.menu_wrap .dep2 a:hover{
	text-decoration : underline;

}


.chart{
	border:1px solid #ddd;
}