@charset "UTF-8";


.tabs {
  display: flex;
  position: relative;
  text-align: center;
  width: 270px;
  height: 70px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.tabs .tab {
  width: 90px;
  height: 100%;
  margin-top: 10px;
  text-align: center;
  color: #06345a;
  cursor: pointer;
  z-index: 2;
}
.tabs .border {
  position: absolute;
  width: 90px;
  height: 8px;
  background: rgb(77, 77, 19);
  bottom: 0;
  z-index: 2;
  transition: 0.4s;
}
.tabs .background {
  z-index: 1;
  position:  absolute;
  width: 90px;
  height: 100%;
  background: rgb(253, 209, 62);
  bottom: 0;
  transition: 0.4s;
}

div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:absolute;width:90px;top:50%;margin-top:-50px;right:10px;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

.content {position:relative;min-height:1000px;}

ul, li{
	list-style:none;
	display:inline-block;
	
}
a{
  text-decoration:none;
  color:inherit;
}

.menu_wrap .dep1{
	font-size:0;
	
}

.menu_wrap .dep1>li {
	display:inline-block;
	width:100px;
	vertical-align:top;
	background: #ddd;
	text-align:center;
	font-size:16px;
	position:relative;
}

.menu_wrap .dep1 > li:hover >a{
	background:purple;
	color:#fff;
}

.menu_wrap .dep1 > li > a{
	display:block;
	padding:10px 0;	
}

.menu_wrap .dep2{
	position:absolute;
	display:none;
	background: rgba(238, 130, 200, 0.8);
	color:#fff;
	z-index:1;
	cursor:pointer;

}

.menu_wrap .dep1 > li:hover > .dep2{
	display:block;
	width:100%;
	
}

.menu_wrap .dep2 a {
	display:block;
	padding:10px 0;
	
}

.menu_wrap .dep2 a:hover{
	text-decoration : underline;
	
}
